<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Example</div>
          <div class="card-body">I'm an example component.</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  //   async created() {
  //     try {
  //       const res = await axios.get("http://127.0.0.1:8000/home");
  //       console.log(res.data);
  //     } catch (error) {
  //       console.log(error);
  //     }
  //   },
  mounted() {
    console.log("Component mounted.");
  },
};
</script>
